<div class = "row">
  <div class = "col-md-12">
    <img class = "mx-auto d-block" src = "./assets/img/kisspng-hamburger-clip-art-vector-graphics-beef-portable-n-5c0e2852cc30c4.4812705815444316988364.png">
  </div>
</div>
<div class="row mx-auto">
  <div class="col-md-12">
    <h1>Eat Da Burger!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Burgers that are not eaten!</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/eat-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="burgerName">
      </div>



      <button type="submit">Add Burger</button>
    </form>
  </div>
  <div class="col-md-4">
    <h2>Burgers that are eaten!</h2>

    <ul class = "eaten">
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/eat-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>